[submodule "submodules/hdl-ip-library"]
	path = submodules/hdl-ip-library
	url = git@github.com:cruzgarcia/hdl-ip-library.git
[submodule "submodules/neorv32"]
	path = submodules/neorv32
	url = git@github.com:stnolting/neorv32.git
