//Copyright (C)2014-2021 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.8
//Part Number: GW1NR-LV9QN88C6/I5
//Device: GW1NR-9C
//Created Time: Sat 09 11 00:04:38 2021

// GPIOs
IO_LOC "gpio_o[7]" 79;
IO_PORT "gpio_o[7]" PULL_MODE=UP DRIVE=8;
IO_LOC "gpio_o[6]" 80;
IO_PORT "gpio_o[6]" PULL_MODE=UP DRIVE=8;
IO_LOC "gpio_o[5]" 81;
IO_PORT "gpio_o[5]" PULL_MODE=UP DRIVE=8;
IO_LOC "gpio_o[4]" 82;
IO_PORT "gpio_o[4]" PULL_MODE=UP DRIVE=8;
IO_LOC "gpio_o[3]" 83;
IO_PORT "gpio_o[3]" PULL_MODE=UP DRIVE=8;
IO_LOC "gpio_o[2]" 84;
IO_PORT "gpio_o[2]" PULL_MODE=UP DRIVE=8;
IO_LOC "gpio_o[1]" 85;
IO_PORT "gpio_o[1]" PULL_MODE=UP DRIVE=8;
IO_LOC "gpio_o[0]" 86;
IO_PORT "gpio_o[0]" PULL_MODE=UP DRIVE=8;

// Clock and Reset
IO_LOC "rstn_i" 77;
IO_PORT "rstn_i" PULL_MODE=UP;
IO_LOC "clk_i" 63;
IO_PORT "clk_i" PULL_MODE=UP;

// UART
// D0
IO_LOC "uart0_txd_o" 29;
IO_PORT "uart0_txd_o" PULL_MODE=UP DRIVE=8;
// D1
IO_LOC "uart0_rxd_i" 30;

// ------------------------------------------------------
// RTC - TWI
// ------------------------------------------------------
// D2 
IO_LOC "twi_sda_io" 31;
// D3
IO_LOC "twi_scl_io" 32;
// ------------------------------------------------------

// ------------------------------------------------------
// Seven segment display
// ------------------------------------------------------
// D14 - Segment A
// IO_LOC  "seven_segmnt_disp_o[6]" 76;
// IO_PORT "seven_segmnt_disp_o[6]" PULL_MODE=UP DRIVE=8;
// // D13 - Segment A
// IO_LOC  "seven_segmnt_disp_o[5]" 75;
// IO_PORT "seven_segmnt_disp_o[5]" PULL_MODE=UP DRIVE=8;
// // D12 - Segment A
// IO_LOC  "seven_segmnt_disp_o[4]" 74;
// IO_PORT "seven_segmnt_disp_o[4]" PULL_MODE=UP DRIVE=8;
// // D11 - Segment A
// IO_LOC  "seven_segmnt_disp_o[3]" 73;
// IO_PORT "seven_segmnt_disp_o[3]" PULL_MODE=UP DRIVE=8;
// // D10 - Segment A
// IO_LOC  "seven_segmnt_disp_o[2]" 72;
// IO_PORT "seven_segmnt_disp_o[2]" PULL_MODE=UP DRIVE=8;
// // D9  - Segment A
// IO_LOC  "seven_segmnt_disp_o[1]" 71;
// IO_PORT "seven_segmnt_disp_o[1]" PULL_MODE=UP DRIVE=8;
// // D8  - Segment A
// IO_LOC  "seven_segmnt_disp_o[0]" 70;
// IO_PORT "seven_segmnt_disp_o[0]" PULL_MODE=UP DRIVE=8;
// // D7  - Segment enable
// IO_LOC  "seven_segmnt_enable" 69;
// IO_PORT "seven_segmnt_enable" PULL_MODE=UP DRIVE=8;

// ------------------------------------------------------
// Flash
// ------------------------------------------------------
IO_LOC "flash_clk_o" 49;
IO_LOC "flash_cs_o" 51;
IO_LOC "flash_so" 48;
IO_LOC "flash_si" 53;
IO_LOC "flash_i02" 54;
IO_LOC "flash_i03" 50;

IO_PORT "flash_clk_o" PULL_MODE=UP DRIVE=8;
IO_PORT "flash_cs_o"  PULL_MODE=UP DRIVE=8;
IO_PORT "flash_so"    PULL_MODE=UP DRIVE=8;
IO_PORT "flash_i02"   PULL_MODE=UP DRIVE=8;
IO_PORT "flash_i03"   PULL_MODE=UP DRIVE=8;